In [225]:
import pandas as pd
import numpy as np
df=pd.read_excel(r"..\datasets\flight_price.xlsx")

In [226]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [227]:
df['year']=df['Date_of_Journey'].str.split("/").str[0]
df['month']=df['Date_of_Journey'].str.split("/").str[1]
df['date']=df['Date_of_Journey'].str.split("/").str[2]

In [228]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,date
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [229]:
df['date']=df['date'].astype(int)
df['month']=df['month'].astype(int)
df['year']=df['year'].astype(int)

In [230]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [231]:
df["Arrival_Time"]=df["Arrival_Time"].apply(lambda x:x.split(" ")[0])

In [232]:
df.head(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,date
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [233]:
df['arrival_hour']=df['Arrival_Time'].str.split(":").str[0]
df['arrival_minute']=df['Arrival_Time'].str.split(":").str[1]
df['arrival_hour']=df['arrival_hour'].astype(int)
df['arrival_minute']=df['arrival_minute'].astype(int)

In [234]:
df['departure_hour']=df['Dep_Time'].str.split(":").str[0]
df['departure_minute']=df['Dep_Time'].str.split(":").str[1]
df['departure_hour']=df['departure_hour'].astype(int)
df['departure_minute']=df['departure_minute'].astype(int)

In [235]:
df.drop(['Dep_Time','Arrival_Time'],axis=1,inplace=True)

In [236]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [237]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'2 stops':2,'1 stop': 1, '3 stops': 3, np.nan: 1, '4 stops':4 })

In [238]:
df.drop('Route',axis=1,inplace=True)

In [239]:
df['duration_hour'] = df['Duration'].str.split(" ").str[0].str.split("h").str[0].str.split("m").str[0]
df['duration_minute'] = df['Duration'].str.split(" ").str[1].str.split("m").str[0]

In [240]:
# df["duration_minute"].fillna(df['duration_minute'].mean(),inplace=True)

df['duration_minute'].fillna(0, inplace=True)
df["duration_minute"].isna().sum()

C:\Users\VIVEK\AppData\Local\Temp\ipykernel_12416\2861077740.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration_minute'].fillna(0, inplace=True)

0

In [241]:
df.head(40)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,date,arrival_hour,arrival_minute,departure_hour,departure_minute,duration_hour,duration_minute
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,21,35,16,50,4,45
5,SpiceJet,Kolkata,Banglore,2h 25m,0,No info,3873,24,6,2019,11,25,9,0,2,25
6,Jet Airways,Banglore,New Delhi,15h 30m,1,In-flight meal not included,11087,12,3,2019,10,25,18,55,15,30
7,Jet Airways,Banglore,New Delhi,21h 5m,1,No info,22270,1,3,2019,5,5,8,0,21,5
8,Jet Airways,Banglore,New Delhi,25h 30m,1,In-flight meal not included,11087,12,3,2019,10,25,8,55,25,30
9,Multiple carriers,Delhi,Cochin,7h 50m,1,No info,8625,27,5,2019,19,15,11,25,7,50
10,Air India,Delhi,Cochin,13h 15m,1,No info,8907,1,6,2019,23,0,9,45,13,15
11,IndiGo,Kolkata,Banglore,2h 35m,0,No info,4174,18,4,2019,22,55,20,20,2,35
12,Air India,Chennai,Kolkata,2h 15m,0,No info,4667,24,6,2019,13,55,11,40,2,15
13,Jet Airways,Kolkata,Banglore,12h 10m,1,In-flight meal not included,9663,9,5,2019,9,20,21,10,12,10
14,IndiGo,Kolkata,Banglore,2h 35m,0,No info,4804,24,4,2019,19,50,17,15,2,35
15,Air India,Delhi,Cochin,26h 35m,2,No info,14011,3,3,2019,19,15,16,40,26,35
16,SpiceJet,Delhi,Cochin,4h 30m,1,No info,5830,15,4,2019,13,15,8,45,4,30
17,Jet Airways,Delhi,Cochin,22h 35m,1,In-flight meal not included,10262,12,6,2019,12,35,14,0,22,35
18,Air India,Delhi,Cochin,23h,2,No info,13381,12,6,2019,19,15,20,15,23,0
19,Jet Airways,Delhi,Cochin,20h 35m,1,In-flight meal not included,12898,27,5,2019,12,35,16,0,20,35
20,GoAir,Delhi,Cochin,5h 10m,1,No info,19495,6,3,2019,19,20,14,10,5,10
21,Air India,Banglore,New Delhi,15h 20m,1,No info,6955,21,3,2019,13,20,22,0,15,20
22,IndiGo,Banglore,Delhi,2h 50m,0,No info,3943,3,4,2019,6,50,4,0,2,50
23,IndiGo,Banglore,Delhi,2h 55m,0,No info,4823,1,5,2019,21,50,18,55,2,55
24,Jet Airways,Kolkata,Banglore,13h 20m,1,In-flight meal not included,7757,6,5,2019,8,15,18,55,13,20
25,Jet Airways,Delhi,Cochin,15h 10m,2,No info,13292,9,6,2019,12,35,21,25,15,10
26,IndiGo,Delhi,Cochin,5h 45m,1,No info,8238,1,6,2019,3,35,21,50,5,45
27,GoAir,Delhi,Cochin,5h 55m,1,No info,7682,15,5,2019,12,55,7,0,5,55
28,Vistara,Banglore,Delhi,2h 50m,0,No info,4668,18,6,2019,12,35,9,45,2,50
29,Vistara,Chennai,Kolkata,2h 15m,0,No info,3687,15,6,2019,9,20,7,5,2,15
30,Vistara,Chennai,Kolkata,2h 15m,0,No info,3687,18,6,2019,9,20,7,5,2,15
31,Air India,Kolkata,Banglore,13h 25m,2,No info,13227,1,5,2019,23,15,9,50,13,25
32,IndiGo,Banglore,Delhi,2h 50m,0,No info,4423,6,4,2019,6,50,4,0,2,50
33,Jet Airways,Delhi,Cochin,22h,2,In-flight meal not included,10919,15,6,2019,12,35,14,35,22,0
34,Jet Airways,Delhi,Cochin,5h 30m,1,In-flight meal not included,12373,18,5,2019,12,35,7,5,5,30
35,IndiGo,Delhi,Cochin,10h 25m,1,No info,5894,27,6,2019,21,0,10,35,10,25
36,SpiceJet,Kolkata,Banglore,5h 15m,1,No info,4649,21,5,2019,20,20,15,5,5,15
37,Air India,Kolkata,Banglore,2h 30m,0,No info,6245,18,5,2019,16,45,14,15,2,30
38,Jet Airways,Banglore,New Delhi,6h 15m,1,No info,19225,6,3,2019,13,15,7,0,6,15
39,Jet Airways,Delhi,Cochin,11h 55m,1,No info,14924,3,6,2019,19,0,7,5,11,55

In [242]:
df['duration_hour'] =df['duration_hour'].astype(int)
df['duration_minute']=df['duration_minute'].astype(int)

In [243]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
df_encoded=df_ohe=pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination']]).toarray(),columns=encoder.get_feature_names_out())

In [244]:
df.drop(columns=['Airline','Source','Destination','Duration','Additional_Info'],axis=1,inplace=True)

In [245]:
df_final=pd.concat([df,df_encoded],axis=1)

In [246]:
df.head(3)

,Total_Stops,Price,year,month,date,arrival_hour,arrival_minute,departure_hour,departure_minute,duration_hour,duration_minute
0,0,3897,24,3,2019,1,10,22,20,2,50
1,2,7662,1,5,2019,13,15,5,50,7,25
2,2,13882,9,6,2019,4,25,9,25,19,0

In [248]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10683 non-null  int64
 1   Price                                      10683 non-null  int64
 2   year                                       10683 non-null  int32
 3   month                                      10683 non-null  int32
 4   date                                       10683 non-null  int32
 5   arrival_hour                               10683 non-null  int32
 6   arrival_minute                             10683 non-null  int32
 7   departure_hour                             10683 non-null  int32
 8   departure_minute                           10683 non-null  int32
 9   duration_hour                              10683 non-null  int32
 10  duration_minute                            10683 non-null  int32
 11  Airline_Air Asia                           10683 non-null  float64
 12  Airline_Air India                          10683 non-null  float64
 13  Airline_GoAir                              10683 non-null  float64
 14  Airline_IndiGo                             10683 non-null  float64
 15  Airline_Jet Airways                        10683 non-null  float64
 16  Airline_Jet Airways Business               10683 non-null  float64
 17  Airline_Multiple carriers                  10683 non-null  float64
 18  Airline_Multiple carriers Premium economy  10683 non-null  float64
 19  Airline_SpiceJet                           10683 non-null  float64
 20  Airline_Trujet                             10683 non-null  float64
 21  Airline_Vistara                            10683 non-null  float64
 22  Airline_Vistara Premium economy            10683 non-null  float64
 23  Source_Banglore                            10683 non-null  float64
 24  Source_Chennai                             10683 non-null  float64
 25  Source_Delhi                               10683 non-null  float64
 26  Source_Kolkata                             10683 non-null  float64
 27  Source_Mumbai                              10683 non-null  float64
 28  Destination_Banglore                       10683 non-null  float64
 29  Destination_Cochin                         10683 non-null  float64
 30  Destination_Delhi                          10683 non-null  float64
 31  Destination_Hyderabad                      10683 non-null  float64
 32  Destination_Kolkata                        10683 non-null  float64
 33  Destination_New Delhi                      10683 non-null  float64
dtypes: float64(23), int32(9), int64(2)
memory usage: 2.4 MB